body{
    background: rgb(34, 33, 33);
    color: white;
}
header{
    background: rgb(130, 24, 201);
}
.bg-img{
    background-image: url(../img/back.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.bg-overlay{
    min-height: 500px;
    background: black;
    opacity: .7;
}
input{
    margin-right: 1rem;
}
.todo-container{
    display: block;
    width: 100%;
    background: rgba(28, 19, 36, 0.966);
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    font-size: large;
}
.todo-container:hover{
   background: rgb(46, 37, 46);
}

.todo-container button{
    background: none;
    border: none;
    color: white;
}